html,body{
  height:100%;
}


#root{
  height:100%;
}

.app-root{
min-height:100vh;
 background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("bg2.jpg");
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
  display:flex;
 flex-direction: column;
 font-family: 'Poppins', sans-serif;


}
h1{
  letter-spacing: 1px;
  text-align: center;
  color:rgb(255, 255, 255 , 0.75);
  padding:10px;
  font-size:36px;
  margin-top:20px;
}
.weather-forecast {
  width:100%;
height: 100%;
  display: flex;
  gap:20px;
  flex-wrap: wrap;
   justify-content:center;
  align-items: stretch;
}

.weather-container{
flex-grow:1;
 text-align: center;
padding:10px;
  border-radius:10px;

}

.loading{
  background-color: azure;
  color:rgb(0, 0, 0);
  font-weight: bold;
  width:fit-content;
  margin:auto;
  font-size:large;
}
.error{
background-color: azure;
  color:rgb(192, 50, 50);
  font-weight: bold;
  width:fit-content;
  margin:auto;
  font-size:24px;

}
input{
font-size:larger;
font-weight: 500;
color:black;
}
input:hover{
outline: thick;
cursor:text;
}

button {
 
padding:10px;
background-color : #33ec42;
color:rgb(0, 0, 0);
border-radius :8px;
cursor:pointer;
}
button:hover {
background-color:#00a800;

}

footer{
  background-color:rgb(255, 255, 255,0.25);
  color:rgb(255, 255, 255,0.75);
  text-align: center;
 padding:10px;
 font-size:14px;

}

@media (max-width:600px){
  h1{
    font-size:18px;
    margin:10px;
  }
  button{
    padding:8px;
    font-size:12px;
  }
  footer{
    font-size: 10px;
  }
}