.aqi-info{
    width:fit-content;
 margin:10px auto;
 color: rgb(255, 255, 255);

    text-align: center;
    color:black;
    font-weight: bold;
    font-size:18px;
    border-radius:18px;
 padding :10px;
 
}
/* AQI Banner Styles */
.Aqibanner.Good{
      font-size: 24px;
color:rgb(136, 255, 18)
}
.Aqibanner.Fair{
      font-size: 24px;
color:rgb(161, 255, 130)
}
.Aqibanner.Moderate{
      font-size: 24px;
color:rgb(249, 195, 46)
}
.Aqibanner.Poor{
      font-size: 24px;
color:rgb(206, 96, 27);
font-size: 24px;
}
.Aqibanner.VeryPoor{
      font-size: 24px;
color:rgba(92, 0, 0, 0.75);
}

@media(max-width:600px){

  .aqi-info{ font-size:14px} 
  .Aqibanner.Good, .Aqibanner.Fair, .Aqibanner.Moderate, .Aqibanner.Poor, .Aqibanner.VeryPoor
  { 
    font-size:16px; 
}  
}