.forecast-container{
       background: rgba(163, 170, 255, 0.25);
border: 1px solid rgba(255, 255, 255, 0.3);

  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.15);
    width:auto;
 margin:20px;
    
    padding:20px;
     border-radius:12px;
    display:flex;
    flex-direction: column;
     align-items: center;
     font-size:20px;
    flex-wrap:wrap;
    justify-content:space-between;
    gap:50px;
 
}

.forecast-row{
       color: rgb(255, 255, 255);
    display:flex;
    align-items: center;
    gap:10px;
    font-size:24px;
    flex-wrap:wrap;
    justify-content:space-between;
}
.forecast-row span:first-child {
  width: 80px;   /* Day column */
  text-align: left;
}
#temperature{
    width: 80px;  
      text-align: center;
    font-size:24px;
    font-weight: bold;
}
img {
width: 50px; height: 50px; 
margin:none; 
}


.forecast-row span:last-child {
  width: 100px;  /* Weather column */
  text-align: right;
}

@media(max-width: 600px){
    .forecast-container{
        width:100%;
        margin:10px;
        padding:10px;
        gap:20px;
    }
    .forecast-row{
        font-size:18px;
        gap:5px;
    }
    .forecast-row span:first-child {
  width:50px;   
 
}
    #temperature{
       width:50px;
         font-size:18px;
    }
    .forecast-row span:last-child {
  width:70px;  

}
}   