.lastsearch{
   display: flex;
   flex-direction: column;
   width:fit-content;
align-items: flex-start;
  padding:5px;
  color:rgb(255, 255, 255);
  font-size:24px;
}
.clearsearch{
transition:transform 0.3s ease;
}
.clearsearch:hover{
font-weight: bold;
 color:rgb(255, 255, 255);
 cursor:pointer;
transform: scale(1.05);

}

@media(max-width:480px){
  .lastsearch{
    font-size:18px;
  }
  .clearsearch{
    font-size:12px;
  }

}