.lastsearch{
   background-color: beige;
  padding:5px;
  color:rgb(19, 1, 20);
  margin-left: 10px;
  font-size:18px;
 width:fit-content;
 border-radius: 4px;
}
.clearsearch{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
 color:rgb(251, 40, 255);
 font-size: large;
text-decoration: underline;
margin-left: 10px;
}
.clearsearch:hover{
    
     font-weight: bold;
 color:rgb(37, 193, 66);
 font-size: larger;
text-decoration: underline;
}