
#weather{
     background: rgba(163, 170, 255, 0.25);
  width:100%; 
    max-width:400px;
    height:fit-content;
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content: center;
    align-items: center;
    padding:10px 20px;
    margin:10px;
    border-radius:12px;
}
.weatherinfo-container{
   width:100%;
    margin:10px auto ;
    display:flex;
    flex-direction: column;
  align-items: center;
    justify-content: center;
    font-size:20px;
    color:rgb(0, 0, 0);
   border-radius:12px;
padding:10px;
   gap:20px;

}
.location-icon{

    width: 30px; 
    height: 30px; 
    margin-right:5px; 
}

#temp{
    font-size:30px;
    font-weight: bold;  
}
#weatherinfo {

 margin:5px auto 10px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    gap:10px;
   
}
#weatherinfo p{
    text-align: left;
    width:100%;
     max-width:100px;
    height:120px;
   background: rgba(163, 170, 255, 0.25);
   color: #ffffff;
 font-weight: 700;
    padding:10px;
    font-size:18px;
    gap:5px;
    border-radius:12px;
  
}
#weatherinfo p img{
   
    width: 30px;
    height: 30px;
    margin:0 auto;
}
.weatherinfo-container.clear { background-image:url("clear.jpg");
    background-position: center; 
     background-size: cover;
    background-repeat: no-repeat;
}

.weatherinfo-container.cloudy { background-image:url("cloud.jpg");
    background-position:center; 
    background-size: cover;
    background-repeat: no-repeat;}

.weatherinfo-container.rainy { 
    color:rgb(25, 3, 53);
     background-image:url("rain.jpg");
    
    background-position:center; 
    background-size: cover;
    background-repeat: no-repeat;
 }
.weatherinfo-container.thunder { 
     background-image:url("thunder.jpg");
      color:black;
    background-position:center; 
    background-size: cover;
    background-repeat: no-repeat;
 }
.weatherinfo-container.snow { background-image:url("snow.jpg");
    background-position:center; 
    background-size: cover;
    background-repeat: no-repeat; }

.weatherinfo-container.smoke { background-image:url("smoke.jpg");
    background-position:center; 
    background-size: cover;
    background-repeat: no-repeat; }

.weatherinfo-container.haze{  background-image:url("haze.jpg");
   
    background-position:center; 
    background-size: cover;
    background-repeat: no-repeat;}
.weatherinfo-container.mist { background-image:url("mist.png");
    background-position: center; 
     background-size: cover;
    background-repeat: no-repeat;
}
.weatherinfo-container.default { background-color: #f0f0f0; }

@media(max-width:480px){
    #weather{
        width:100%;
       padding:10px;
    }

    #temp{
        font-size:24px;
    }
    #weatherinfo p{
        max-width: 80px;
           padding:5px;
        font-size:14px;
        
       
    }
}